# Created by .ignore support plugin (hsz.mobi)
### TortoiseGit template
# Project-level settings
/.tgitconfig

### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IntelliJ
out/

*.tar
*.log
.idea/
**/.idea/
.vscode/
*.7z
*.zip
/tmp
*.pyc
*.xlsx
**/build/
**/dist/
